<div class="intro main-wrapper">
  <div class="ui one column stackable center aligned page grid middle">
   <div class="column six wide form-holder">
     <h2 class="center aligned header form-head">Sign in</h2>
     <div class="ui form">
       <div class="field">
         <input type="text" placeholder="username">
       </div>
       <div class="field">
         <input type="password" placeholder="password">
       </div>
       <div class="field">
         <input type="submit" value="sign in" class="ui button large fluid blue">
       </div>
     </div>
   </div>
  </div>

</div>
